
@font-face {
  font-family: 'RalewayRegular';
  src: url('../fonts/RalewayRegular.eot');
  src: url('../fonts/RalewayRegular.eot') format('embedded-opentype'),
  url('../fonts/RalewayRegular.woff2') format('woff2'),
  url('../fonts/RalewayRegular.woff') format('woff'),
  url('../fonts/RalewayRegular.ttf') format('truetype'),
  url('../fonts/RalewayRegular.svg#RalewayRegular') format('svg');
}
* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  -webkit-font-smoothing: antialiased; }

a {
  outline: none;
  text-decoration: none;
  background-color: transparent;
  font-size: 11px;
  color: #2d2a2b; }

img {
  border: none; }

html {
  height: 100%; }

body {
  height: auto !important;
  min-height: 100%;

}
.container {
  margin: 0 auto;
  width: 960px;
  box-sizing: border-box;
  @media only screen and (max-width: 768px) {
    width: 720px;}
  @media only screen and (max-width: 480px) {
    width: 100%; max-width: 480px;}
}
.clearfix {
  clear: both;
}
.small-menu {
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  width: 100%;
  .container{
    &:after {
      content: " ";
      display: block;
      clear: both;
    }
  }
  .social {
    float: right;
    display: inline-block;
    margin-left: 7px;
  }
  .language {
    float: right;
    margin: 0 10px;
  }

  select {
    width: 90px!important;
  }
  .form-group {
    float: right;
    box-sizing: border-box;
    padding: 0px;
    line-height: 0;
    &:after{
      content: '';
      display: block;
      clear: both;
  }
    input {
      width: 246px;
      height: 26px;
      vertical-align: top;
      box-sizing: border-box;
      background-color: #eaeaea;
      color: #003466;
      font-family: RalewayRegular;
      font-size: 13px;
      border-radius: 4px;
      border: none;
      padding-left: 10px;
      @media only screen and (max-width: 480px) {
        width: 100px;
      }
      @media only screen and (max-width: 320px) {
        width: 70px;
      }
    }
    button {
      background-image: url("../images/searche_03.png");
      height: 26px;
      width: 33px;
    }
  }
}
.select2-container--default .select2-selection--single {
  background-color: #003466;
  border: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #fff;
  font-family: RalewayRegular;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 26px;

}
.select2-dropdown {
  background-color: #003466;
  border: none;
  color: #FFFFFF;
  font-size: 10px;
  font-family: RalewayRegular;
  text-transform: uppercase;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #fff transparent transparent transparent;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #fff transparent;
}
.select2-search__field { display: none;}

.bg-grey {
  float: left;
  background: linear-gradient(to right, #a5a4a3, #cdcdcd);
  height: 92px;
  width: 30%;
}
.bg-blue {
  float: right;
  background: linear-gradient(to right, #0053a3, #00366b);
  height: 92px;
  width: 70%;
  position: relative;
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
  .logo {
    float: left;
    position: absolute;
    top: 27px;
    left: -147px;
    z-index: 10;
    &:after {
      content: " ";
      display: block;
      clear: both;
    }
      @media only screen and (max-width: 480px) {
        width: 200px;
        height: auto;
        top: 32px;
        left: -100px;
      }
  }

}
.formenu {
  position: relative;
  top: -92px;
  .menu {
    float: right;
    &:after {
      content: " ";
      display: block;
      clear: both;
    }
    li {
      display: inline-block;
    }
    a {
      font-family: RalewayRegular;
      display: inline-block;
      line-height: 92px;
      font-size: 16px;
      text-transform: uppercase;
      color: #FFFFFF;
      vertical-align: middle;
      border-right: solid 1px #000;
      padding-left: 12px;
      padding-right: 12px;
    }
    .arrow:after {
      content: "\f0d7";
      width: 10px;
      height: 10px;
      font-family: FontAwesome;
      padding-left: 5px;
    }
    .dropdown-menu {
      width: 170px;
      background-color: #003e7d;
      box-sizing: border-box;
      position: absolute;
      padding: 12px;
      opacity: 0;
      z-index: 10;
      li {
        display: block;
      }
      a {
        font-family: RalewayRegular;
        display: inline-block;
        line-height: 30px;
        font-size: 14px;
        text-transform: uppercase;
        color: #FFFFFF;
        border: none;
      }
    }
    .dropdown:hover .dropdown-menu {
      opacity: 1;
    }

  }
}
.owl-carousel {
  top: -93px;
  position: relative;
  &:after {
    content: " ";
    clear: both;
  }
  .owl-stage-outer {
    position: relative;
    width: 100%;
  }
  .owl-item {
    position: relative;
    height: 423px;
    width: 100%;
  }
  .banner {
    height: 423px;
    width: 100%;
  }
  .banner-fon {
    position: absolute;
    z-index: 10;
    display: block;
    width: 43%;
    height: 100%;
    right: 0px;
    top: 0px;
    background-color: #003466;
    opacity: 0.7;

  }
  .banner-text {
    width: 50%;
    float: left;
    padding-left: 50px;
    padding-top: 50px;
    box-sizing: border-box;
    position: relative;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
  h1 {
    font-family: RalewayRegular;
    color: #ffffff;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 25px;

  }
  p {
    font-family: RalewayRegular;
    color: #FFFFFF;
    font-size: 12px;
    height: 200px;
    padding-right: 40px;
    overflow: scroll;
    overflow-x: hidden;
    border: none;
  }
  .owl-dots {
    position: absolute;
    z-index: 11;
    top: 90%;
    right: 20%;
  }
   .owl-dot {
    background-color: #8c9cad;
    width: 32px;
    height: 12px;
    float: left;
    margin-right: 9px;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
  .owl-dot.active {
    background-color: #f2f2f2;
    width: 32px;
    height: 12px;

  }

}
.bg-section-grey {
  margin-top: -93px;
  background-color: #ededed;
  padding-top: 36px;
  padding-bottom: 36px;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  h1 {
    font-size: 20px;
    display: block;
    color: #003466;
    text-transform: uppercase;
    padding-left: 15px;
    margin-bottom: 20px;
  }
  .opportunities {
    width: 20%;
    float: left;
    box-sizing: border-box;
    position: relative;
    .img-opp {
      width: 100%;
      height: 205px;
      display: block;
    }
    h2 {
      color: #ffffff;
      font-size: 14px;
      text-transform: uppercase;
      background-color: #312f30;
      padding: 15px;
      margin-top: -1px;

    }
    a {
      display: block;
      position: absolute;
      z-index: 20;
      top: 50%;
      margin-top: -10px;
      left: 48px;
      opacity: 0;
    }
    &:hover {
      h2 {background-color: #00c0f3}
      .img-opp {filter: grayscale(100%) sepia(100%);}
      a {opacity: 1;}
    }
  }
}
.bg-section-map {
  background-image: url("../images/map_02.png");
  width: 100%;
  padding-top: 36px;
  padding-bottom: 36px;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  h1 {
    font-size: 20px;
    color: #000000;
    text-transform: uppercase;
    padding-left: 15px;
    margin-bottom: 20px;
  }
  .map {
    width: 20%;
    float: left;
    box-sizing: border-box;
    &:hover:after{
      content: url("../images/corner_03.png");
      float: right;
    }
    img {
      border: solid 20px #ffffff;
      width: 152px;
      height: 135px;

    }
    h2 {
      width: 100%;
      text-align: center;
      font-size: 12px;
      text-transform: uppercase;
      color: #00215c;
      font-weight: bold;
      padding-bottom: 15px;
      margin-top: -5px;
    }
    &:hover {
      img {border: solid 20px #00aa73;}
      h2 {color: #ffffff; background-color:#00aa73;}
    }
  }
}